2. Podemos deixar a borda de Catupiry como borda padr√£o?

In [2]:
import pandas as pd

In [6]:
df_item_pedido = pd.read_csv('../data/item_pedido.csv')

filtro_borda = df_item_pedido['descTipoItem'] == 'borda'
df_borda = df_item_pedido[filtro_borda]

df_group = (df_borda.groupby(by=['descItem'])['idPedido']
        .nunique()
        .reset_index())

df_group['RepPedidos (%)'] = (100*df_group['idPedido'] / df_group['idPedido'].sum()).round(2)
df_group

            descItem  idPedido  RepPedidos (%)
0  borda tradicional       438           39.60
1            cheddar       118           10.67
2       cream cheese       143           12.93
3     sabor catupiry       407           36.80