In [22]:
import pandas as pd

df_item_pedido = pd.read_csv('../data/item_pedido.csv')
df_produto = pd.read_csv('../data/produto.csv')
df_pedido = pd.read_csv('../data/pedido.csv')

In [19]:

# df_item_pedido = df_item_pedido.rename(columns={'descItem':'descProduto'})
# df_item_pedido

        descItem  vlPreco
0        abacate     5.25
1        abacaxi     2.50
2      abobrinha     2.00
3      alcaparra     3.00
4           alho     1.00
..           ...      ...
80        tomate     1.50
81   tomate seco     6.25
82     uva passa     3.75
83   vinho tinto    12.00
84  água com gás     5.00

[85 rows x 2 columns]

In [21]:
df_join = df_item_pedido.merge(right=df_produto,
                                how='left')

In [23]:
df_join.merge(df_pedido, how='left')

,idPedido,descTipoItem,descItem,vlPreco,dtPedido,flKetchup,descUF,txtRecado
0,0,bebida,refrigerante,7.25,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
1,0,borda,borda tradicional,0.00,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
2,0,ingrediente 1,pepperoni,3.50,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
3,0,ingrediente 2,orégano,1.00,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
4,0,ingrediente 3,frango,3.50,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
...,...,...,...,...,...,...,...,...
10479,1105,ingrediente 4,orégano,1.00,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.
10480,1105,ingrediente 5,carne seca,5.00,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.
10481,1105,massa,massa tradicional,9.25,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.
10482,1105,queijo 1,mussarela,6.00,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.
10483,1105,queijo 2,parmesão,7.00,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.

In [26]:
df_join = (df_item_pedido.merge(right=df_produto,how='left')
               .merge(right=df_pedido, how='left') )

In [27]:
df_join

,idPedido,descTipoItem,descItem,vlPreco,dtPedido,flKetchup,descUF,txtRecado
0,0,bebida,refrigerante,7.25,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
1,0,borda,borda tradicional,0.00,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
2,0,ingrediente 1,pepperoni,3.50,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
3,0,ingrediente 2,orégano,1.00,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
4,0,ingrediente 3,frango,3.50,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
...,...,...,...,...,...,...,...,...
10479,1105,ingrediente 4,orégano,1.00,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.
10480,1105,ingrediente 5,carne seca,5.00,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.
10481,1105,massa,massa tradicional,9.25,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.
10482,1105,queijo 1,mussarela,6.00,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.
10483,1105,queijo 2,parmesão,7.00,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.