In [1]:
import pandas as pd

In [8]:
data = {
    "nome":["Téo", "Nah", "José", "Marina", "Eduardo", "Natasha", "Ana"],
    "idade": [30, 33, 2, 45, 24, 22, 23],
    "cor": ["Preto", "Verde", "Azul", "Vermelho", "Branco", "Vermelho", "Preto"], 
    "renda": [3566, 1345, 0, 6576, 4325, 5326, 10244]
}

df = pd.DataFrame(data)
df.describe()

           idade         renda
count   7.000000      7.000000
mean   25.571429   4483.142857
std    13.100345   3393.390754
min     2.000000      0.000000
25%    22.500000   2455.500000
50%    24.000000   4325.000000
75%    31.500000   5951.000000
max    45.000000  10244.000000